@import "~antd/lib/style/themes/default.less";

.logo {
   	width: 120px;
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 9px 24px 9px 0;
    float: left;
}
.layout{
  	height:100%;
}
.nav{
	float: right;
	line-height: 50px!important;
}
.header{
	background: #404040;
    padding: 0 50px;
    height: 50px;
    line-height: 50px;
}
.user{
    margin-top: 10px;
    :global(.ant-dropdown-menu-item) {
        width: 160px;
    }
}
.container{
    width:80%;
    margin:0 auto;
}
.ant-menu-horizontal.ant-menu-sub, 
.ant-menu-vertical.ant-menu-sub,
.ant-menu-vertical-left.ant-menu-sub,
.ant-menu-vertical-right.ant-menu-sub {
    min-width: 120px!important;
}
